form textarea {
    width: 350px;
    height: 150px;
}

[type="submit"] {
    position: fixed;
    left: 250px;
    top: 300px;
    font-size: 18px
}

[type="date"] {
    position: fixed;
    left: 250px;
}

[type="text"] {
    position: fixed;
    left: 250px;
}

p {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}